<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.renault.instantapps.poc"
          android:targetSandboxVersion="2"
          tools:targetApi="o">

    <application>
        <activity android:name=".MainInstalledActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service
            android:name=".service.EventOrchestrationService"
            android:enabled="true">
        </service>
        <service android:name=".service.OrchestrationJobService"
                 android:permission="android.permission.BIND_JOB_SERVICE"
                 android:enabled="true"
                 android:exported="true"/>
    </application>

</manifest>